/.classpath
/.project
/.settings/
/target/
/test-output/
rest-assured-sample/.classpath
rest-assured-sample/.gitignore
rest-assured-sample/.project
rest-assured-sample/.settings/
rest-assured-sample/test-output/
starbucks-challenge/.classpath
starbucks-challenge/.gitignore
starbucks-challenge/.project
starbucks-challenge/.settings/
starbucks-challenge/test-output/
travel-challenge/.classpath
travel-challenge/.gitignore
travel-challenge/.project
travel-challenge/.settings/
travel-challenge/test-output/
